<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mnworkie!</title>
</head>
<body>
<h1>List of TODOs</h1>
<div>
<table class = "table">
    <tr>
        <th>Name</th>
        <th>Done status</th>
    </tr>
    {% for todo in todos %}
    <tr>

        {% if todo.done %}
        <td><a href="{{ todo.link }}">{{ todo.name }}</a></td>
        <td>&#9989;</td>
        {% else %}
        <td><del><a href="{{ todo.link }}">{{ todo.name }}</a></del></td>
        <td>&#10060;</td>
        {% endif %}

    </tr>
    {% endfor %}
</table>


</div>

</body>
</html>
