<!DOCTYPE html>

<head>
<title>Signup</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
{% include "flashing.html" %}
<div align="center">
<h1>Signup</h1>
<h2>Enter your details below</h2>
</div>
<div align="center">
<form method="POST" action ="{{ url_for('.signup') }}">
    <div class="form-group"> {{ form.username.label }}: {{ form.username() }}</div>
    <div class="form-group"> {{ form.password.label }}: {{ form.password() }} </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>