<!DOCTYPE html>
<html lang="en">
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<head>
    <meta charset="UTF-8">
    <title>Single Todo</title>
</head>
<body>
<table class = "table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Done status</th>

    </tr>

    <tr>
        <td>{{ todos[0] }}</td>
        <td>{{ todos[1] }}</td>
        <td><input type="checkbox" id="" name="done" value="1" hx-patch="/todos/{{ todo_id }}"></td>

    </tr>



</table>
</body>
</html>